---
import { SITE } from '~/utils/config';

import Image from '~/components/common/Image.astro';

---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2  whitespace-nowrap">
  <a href="/" class="flex items-center">
    <Image
      class="w-8 h-8 rounded-full"
      src="~/assets/images/logo.svg"
      alt="logo"
      width="50"
      height="50"
    />
    <span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
      {SITE.name}
    </span>
</span>
